.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: white;
  border-bottom: 2px solid #327cc9;
  min-height: 5vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* font-size: calc(10px + 2vmin); */
  font-size: 20px;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

#centerText {
  text-align: center;
}

#form {
  padding: 10px;
  justify-content: center;
}

#cells{
  overflow:hidden; 
  overflow-y:scroll; 
  height: 460px;
  padding-left: 0px;
  border: 2px solid #327cc9;
  border-radius: 4px;
  background-color: #fcfcfc;
}

#navItem {
  cursor: pointer;
}

#link {
  cursor: copy;
}
